@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

* {
    box-sizing:border-box;
}

:root {
   --primary-color:hsl(25, 97%, 53%);
}
body {
    font-family:'Overpass';
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow:hidden;
    flex-direction: column;
    position:relative;
    background:hsl(216, 12%, 8%)
}
.card1.finished {
 transform:translateY(-100rem);
} 
.card1 {
position:absolute;
transition: 3s ease-out
}
.card2 {
    transform:translateY(100rem);
    transition: 3s ease-in;
}
.card {
    max-width:410px;
    height:auto;
    background-color:hsl(213, 19%, 18%);
    border-radius:18px;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding:35px 30px;
    transition: 0.5s ease;
}
img {
    width:100%;
}
h2 {
    color: hsl(0, 0%, 100%);
    font-size:25px;
}

small {
    color:hsl(217, 12%, 63%);
    font-size:15px;
}

.star-img {
    background-color:hsla(217, 9%, 45%, 0.397);
    padding:10px 13px;
    border-radius:50%;
    float:left;
    position:relative;
    left:-45%;
    align-items:center;
    justify-content: center;

}
.star {
    position:relative;
    bottom:-2.5px;
}
button {
    border:none;
    outline:none;
}

button:focus {
    outline:none;
}

.rating-area {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:1.8rem;
    margin-bottom:1.5rem;
}

.rating {
    margin:0px 15px 0px 15px;
    font-size:17px;
    padding:12px 18px;
    border-radius:50%;
    color:grey;
    background-color:hsla(217, 9%, 45%, 0.397);
    cursor:pointer;
    transition: 0.3s ease-in-out all;
}

.rating:hover {
  background-color:hsl(218, 7%, 71%);
  color:white;
}

.rating.selected {
    color:white;
    background-color:var(--primary-color);
}

.rating-submit {
    width:340px;
    padding:15px;
    border-radius:30px;
    letter-spacing:5px;
    background-color:var(--primary-color);
    font-weight:700;
    color:white;
    transition: 0.3s ease-in-out all;
    cursor:pointer;
}

.rating-submit:hover {
   background-color: white;
   color:var(--primary-color);
}


.result-text p {
    color:var(--primary-color);
    padding:8px 13px;
    border-radius:15px;
    font-size:12px;
    background-color:hsla(217, 9%, 45%, 0.397);
    margin-top:2em;
}
.text2 {
    text-align: center;
}

.card2.thankyou {
    transform:translateY(0%);
}

.attribution {
    color:white;
    padding:30px;
}