@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

* {
    box-sizing:border-box;
}

body {
    font-family:'Overpass';
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow:hidden;
    flex-direction: column;
    position:relative;
    background:hsl(216, 12%, 8%);
    font-size:14px;

}

h2 {
    color:white;
    margin-top:1em;
    margin-bottom:0;
}

p {
    color:hsl(216, 12%, 54%);
    line-height:1.6em;
}

button {
    cursor:pointer;
}


.card {
    background-color:hsl(213, 19%, 18%);
    width:350px;
    height:auto;
    display:flex;
    justify-content: center;
    flex-direction:column;
    padding:1.5em;
    border-radius:20px;
    box-shadow: 0px 0px 10px 3px rgba(247, 247, 247, 0.055)
}

/* Rating Card Section */

.star {
    background-color:hsla(216, 12%, 54%, 0.212);
    background-image:url(./images/icon-star.svg);
    background-repeat:no-repeat;
    background-position:52.2% 53%;
    padding:1em;
    text-align: center;
    width:40px;
    height:40px;
    border-radius:30px;
}

.rating_buttons {
    display:flex;
    justify-content:space-around;
}

.rating {
    background-color:hsla(216, 12%, 54%, 0.212);
    color:hsl(216, 12%, 54%);
    padding:1em 1.3em;
    border-radius:50%;
    border:none;
    margin-bottom:2em;
    transition: background-color  0.3s ease-in-out, color 0.3s ease-in-out;
}

.rating.active {
    color:hsl(215, 18%, 61%);
    background:hsl(217, 10%, 43%);
}

.rating:hover {
    color:white;
    background-color:hsl(25, 97%, 53%);
}

.submit {
    background-color:hsl(25, 97%, 53%);
    color:white;
    font-weight:600;
    letter-spacing:2px;
    text-transform: uppercase;
    padding:0.8em;
    border-radius:30px;
    border:0px;
    transition: background-color  0.3s ease-in-out, color 0.3s ease-in-out;
}

.submit:hover {
    color:hsl(25, 97%, 53%);
    background-color:white;
}

/* Thank You Card Section */

.thank-you-card {
    align-items: center;
    text-align: center;
    display:none;
    transform:translateY(500em);
}

.thank-you-card img {
    margin-bottom:1em;
}

.thank-you-card small {
    background-color:hsla(216, 12%, 54%, 0.212);
    color:hsl(25, 97%, 53%);
    padding:9px 18px;
    border-radius:30px;
    margin-top: 10px;
}

footer {
    position:absolute;
    color:white;
    bottom:10px;
}





/* animations */

.rating_card.submitted {
   animation: submitted 1s ease-out;
   transform:translateY(-500em);
}

.thank-you-card.thanks {
    animation: thankYou 1.5s ease-in;
    display:block;
    transform:translateY(-15em);
    opacity:1;
}



@keyframes submitted {
    0% {transform:translateY(50px)}

    20% {transform:translateY(100px)}

    100% {transform:translateY(-500em); opacity: 0;}
}

@keyframes thankYou {
    0% {transform:translateY(300em); opacity:0}

    40% {transform:translateY(180em)}

    88% {transform:translateY(-18em); opacity:1}

    100% {transform:translateY(-15em); opacity:1}
}
